<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vst.LocalPlayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name=".component.activity.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.DeviceScreenActivity" />
        <activity android:name=".component.activity.VideosScreenActivity" />
        <activity android:name=".component.activity.FileExplorerScreenActivity" />

        <service
            android:name=".component.service.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".component.receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".component.receiver.MountedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".component.activity.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.default" />
                <data
                    android:scheme="file"
                    android:mimeType="video/*" />
            </intent-filter>

        </activity>

        <provider
            android:name=".component.provider.MediaStoreProvider"
            android:authorities="com.vst.localplayer.mediaStore"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
